@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

// COLORS
$primaryBlue: #0E4595;
$accentBlue: #1C7CD5;

// FONTS
$logoFont: 'Cabin Sketch', cursive;

// PADDING
$formPadding: 30px;
