@import './imports.scss';

.homepage-hacks {
    .cards {
        .homepage-hack {
            padding: 20px;
            margin-bottom: 20px;

            .hack-image-container {
                .hack-image {
                    width: 100%;
                }
            }

            .hack-meta-container {
                .dashboard-hack-title {
                    font-size: 26px;
                    color: $primaryBlue;
                }

                .dashboard-hack-description {
                    font-size: 16px;
                }
            }
        }
    }
}