@import '../styles/imports.scss';

.searchbar {
    margin-bottom: 20px;

    .searchbar-form {
        padding:20px;
        display: flex;
        align-items: space-around;
    }

    button {
        margin-left: 2%;
        background-color: $primaryBlue;
        border: none;
    }


}
