.form{
    display:flex;
    flex-direction: column;
    margin:0 auto;
    background:whitesmoke;
    width:400px;
    border-radius: 10px;
   
}
.input{
    margin-bottom: 10px;
    margin-top: 10px;

}
input,Button,.link{
    width:50%;
    text-align: center;
    margin:0 auto;
    margin-top: 10px;
}

h1{
    text-align: center;
}